<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="content">
        <article id="nr">第一章 名震世界（第1 / 2页）
            <p>“老辰，你昨天的新人任务得到什么评价了啊？”
            </p><p>
            </p><p>清晨，叶辰从睡梦中被人唤醒，睁眼一看，是自己隔壁床的同学尹永豪。
            </p><p>
            </p><p>“E级评价。”叶辰睡眼惺忪的将自己早已经想好的回答说出来。
            </p><p>
            </p><p>“E级评价？怎么这么低？”尹永豪疑惑道。
            </p><p>
            </p><p>不同于热衷于所谓快乐教育，发展完全靠自身家庭底蕴的西方学生，华夏为了保证那些普通学生能在轮回空间发展，只要是高三学生在签了保密契约后都能得到官方提供的日常世界攻略进行新手任务。
            </p><p>
            </p><p>虽然说这些攻略的世界都是一些被别人攻略烂，奖励被削减得十不存一的世界，但全都是一些安全的世界，极其适合学生度过前期的开荒。
            </p><p>
            </p><p>只要不是太倒霉都能得到个约等于战斗类世界F级评价的日常类世界C级评价，现在叶辰却说得到E级评价，不得不让他感到疑惑。
            </p><p>
            </p><p>“等等，老辰你不会是进去战斗类世界了吧？！”尹永豪貌似想到了什么，瞪大眼睛的看着叶辰。
            </p><p>
            </p><p>“嗯，战斗类世界。”叶辰点头道。
            </p><p>
            </p><p>“真的是战斗类世界！没想到平常斯斯文文的你这么勇啊。”尹永豪惊呼一声。
            </p><p>
            </p><p>“什么，老辰去了战斗类世界！”
            </p><p>
            </p><p>“真的吗？”
            </p><p>
            </p><p>“你没受伤吧？”
            </p><p>
            </p><p>其他舍友听到尹永豪的惊呼声纷纷围了上前，都被叶辰前往战斗类世界进行新手任务惊到了，这可不是闹着玩的，一不小心以后的前途就没了。
            </p><p>
            </p><p>“当然没事，我这不是好好的。”感受到尹永豪他们的担心，叶辰笑了笑。
            </p><p>
            </p><p>“没事就好，你下一次不要犯傻了，保命要紧啊。”尹永豪关心道。
            </p><p>
            </p><p>“放心好，我有自知之明，不会傻到去送死。”叶辰淡笑道。
            </p><p>
            </p><p>“以你的性格的确不会犯傻。”
            </p><p>
            </p><p>众人纷纷点头。
            </p><p>
            </p><p>虽然年纪一样，但由于心理年龄较大的原因，叶辰给宿舍其他人的感觉就是一个成熟老大哥，他们知道叶辰的性格谨慎，也就没有继续纠结。
            </p><p>
            </p><p>“不说这些，你们知不知道昨天晚上的新人轮回任务中出了一个SSS级评价的大佬。”
            </p><p>
            </p><p>“你这不是废话吗？”
            </p><p>
            </p><p>“真的想知道先知是怎么进行任务的。”
            </p><p>
            </p><p>结束了关于叶辰的话题后，尹永豪等人讨论的内容转移到了昨天晚上引爆整个世界的事情上面。
            </p><p>
            </p><p>听着众人的讨论，叶辰将床头上放着的手机拿起来，查看起今天的新闻。
            </p><p>
            </p><p>“震惊！新的SSS级任务评价出现！”
            </p><p>
            </p><p>“我和先知不得不说的秘密！”
            </p><p>
            </p><p>“先知的真实身份！”
            </p><p>
            </p><p>“李家大少初进轮回失败！”
            </p><p>
            </p><p>“李家大少以100万轮回点高价悬赏所有关于先知的情报！杀了先知则奖励300万轮回点！”
            </p><p>
            </p><p>“美利坚大统领出价500万轮回点以及价值百亿美刀的资源购买SSS级通关攻略！”
            </p><p>
            </p><p>“许多大势力向先知抛出橄榄枝！”
            </p><p>
            </p><p>“请各位轮回者堤防新型冒充先知诈骗，请认准先知的轮回编号。”
            </p><p>
            </p><p>……
            </p><p>
            </p><p>稍微扫了一眼，叶辰知道这段时间所有新闻都离不开先知两个字。
            </p><p>
            </p><p>对于这种名声大涨的事情，叶辰内心没有丝毫波澜。
            </p><p>
            </p><p>如果叶辰真的是一个十八岁高中生，他一定会高调出来接受全世界的关注，但他不是，前世经历过社会毒打的他清楚地知道社会险恶，永远不要小看人心的恶。
            </p><p>
            </p><p>叶辰敢肯定自己一旦暴露，迎接自己的将会是那些贪婪势力无穷无尽的追杀。
            </p><p>
            </p><p>在轮回空间历史上就出现过这样的事情，第一个日常类世界的SSS级轮回者就是这样死掉的，叶辰可不想步那家伙的后尘。
            </p><p>
            </p><p>叶辰深知再多的荣耀在这个以实力说话的世界面前是没用的。
            </p><p>
            </p><p>“老辰，你今天上课吗？”
            </p><p>
            </p><p>在叶辰浏览新闻的时候，尹永豪询问道。
            </p><p>
            </p><p>这个世界，只要是进入轮回空间就等于成年，等于可以自主选择自己以后的道路。
            </p><p>
            </p><p>不少高三学生十八岁后就不再读书，选择离开学校，走出社会成为一名正式的轮回者。
            </p><p>
            </p><p>因为只要是进入轮回空间，见识了那绚烂的世界，学校枯燥的生活对于许多人而言就是一种折磨，更不要说原本就向往精彩生活的学生。
            </p><p>
            </p><p>“不了。”叶辰摇了摇头。
            </p><p>
            </p><p>进入轮回空间后，学校所能提供的帮助对已经获得一定基础的他来说已经是微乎其微，没有必要继续留在这里。
            </p><p>
            </p><p>而且与他人接触越多，那么他先知的身份就越容易暴露。
            </p>
        </article>
    </div>
</body>
</html>