<!--公共标签库-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:fragment="comm">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" th:href="@{/bootstrap-3.4.1-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.4.1-dist/css/bootstrap-theme.min.css}">
    <script th:src="@{/jquery.js}"></script>
    <script th:src="@{/bootstrap-3.4.1-dist/js/bootstrap.min.js}"></script>
</head>
</html>